<div class="countries-page">
    <div class="container">
        <div class="row">
            <div class="container mt-5" >
                <div class="row">
                <!--01-->
                <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="country-list-left-effect">
                <img src="http://placehold.it/600x500/9c27b0/fff" class="img-fluid" />
                
                <div class="country-overlay text-center align-self-center">
                <h3 >country 1</h3>
                </div>
                </div>
                </div>
                <!--01-->
                
                </div>
                </div>
        
        </div>
    </div>
</div>