@import url(
  http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  font-family: Lato, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Titillium Web;
}
$gray-color: #696969;
$gray-white-color:#ddd;
$main-color: #00c0f2;
$dark-color: #001430;
$l-size: 24px;
$n-size: 16px;
$s-size: 14px;
nav {
  .navbar-brand {
    img {
      width: 95px;
    }
  }
  .navbar-nav {
    li {
      a {
        font-weight: bold;
        color: #001430;
      }
    }
  }
}
//icons of doctor
.doc-icon{
  margin-right: 10px;
  color: $main-color;
  border-bottom: 3px solid #DEB183;
  padding-bottom: 3px;
}
// input design
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077ff;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
    &:hover {
      background: rgba(#223254, 0.03);
    }
    &:not(:placeholder-shown) {
      + span {
        color: #5a667f;
        transform: translateY(-26px) scale(0.75);
      }
    }
    &:focus {
      background: none;
      outline: none;
      + span {
        color: #0077ff;
        transform: translateY(-26px) scale(0.75);
      }
      + .border {
        transform: scaleX(1);
      }
    }
  }
}
.custom-dropdown{
  border: 1px solid $main-color;
  padding: 10px 5px;
  border-radius: 28px;
  i{
    padding: 0 5px;
  }
}
.dropdown.show{
  transition: .4s;
}
// select box
.carousel-inner{
  overflow: unset !important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  .carousel-caption {
    // background: red;
    color: #001430;
    top: 15%;
    left: 40px;
  }
  h2 {
    text-align: left;
  }
}
.form-header {
  background: #fff;
  display: inline-flex;
  float: left;
  padding: 10px;
  border-radius: 28px;
  border: 1px solid $main-color;
  &:before{
    background: rgba(0, 0, 0, 0) url("../src/assets/imgs/banner-shape.png") no-repeat scroll 0 0;
    top: 87.5%;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    pointer-events: none;
  }
  .ui-inputtext {
    border: none;
    border-right: 1px solid #ddd;
    border-radius: 0%;
  }
  .ui-dropdown{
    border: none;
  }
  .ui-calendar-button {
    background: transparent;
    color: #001430;
    border: none;
    &:enabled:hover {
      background: transparent;
      color: #001430;
    }
  }
  button {
    border-radius: 50%;
    background: $main-color;
    color: #fff;
  }
}
.banner-form-outer {
  border: 1px solid $gray-color;
  .banner-form {
    ul {
      li {
        margin-bottom: 15px;
        input,
        select {
          // width: 90%;
          padding: 10px;
        }
      }
    }
  }
}
// book-now
.book-now {
  padding: 80px;
  background: #dcedf1;
  h2 {
    font-weight: 900;
    color: $dark-color;
    font-size: $l-size * 2;
    text-transform: uppercase;
  }
  .why-choose {
    h3 {
      color: $gray-color;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #c6d5d8;
    }
  }
}
// end book-now
//howToBook
.howToBook {
  background: #f7fbff;
  h2 {
    font-weight: 900;
    color: $dark-color;
    font-size: $l-size * 2;
    text-transform: uppercase;
  }
}
// end howToBook
// Download App
.downloadApp{
  background: url(../src/assets/imgs/download_app.png) center center no-repeat;
  height: 490px;
  color: #fff;
  h2{
    font-size: 50px;
  }
  img{
    margin: -80px 0;
  }
}
//end of Download App
// newsletter
.newsletter {
  padding: 80px 0;
  background: #f7fbff;
  }
  
  .newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .newsletter .content h2 {
  color: #001430;
  margin-bottom: 40px; }
  .newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
  }
  .newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #001430;
  }
  .newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: #001430;
  color: #fff;
  font-weight:600;
  }
//end newsletter
// footer
.footer {
  background: #001430;
  p {
    color: #fff;
    a {
      color: $main-color;
    }
  }
}
// end footer
@media only screen and (max-width: 600px) {
  .carousel-item {
    background-position: right;
h2{
  font-size: 20px;
}
.carousel-caption{
  top: 5%;
  left: 65px;
}
.form-header{
  border: none;
  background: transparent;
  .form-control{
    background: #fff;
  }
  .ui-calendar{
    margin-top: 5px;
    background: #fff;
    border-right:none !important;
  }
  .ui-button-icon-only .ui-button-icon-left{
    left: 50px;
  }
  .btn-search{
    border-radius: 24px;
    width: 100%;
    margin-top: 5px;
    &:before{
      content: "Search ";
    }
  }
  .mob-form,.ui-dropdown {
    width: 235px;
    margin-top: 5px;
    background: #fff;
  }
}
}
.custom-toggler{
  position: absolute;
  right: 15px;
  background: transparent !important;
  color: #001430 !important;
  border-color: #001430 !important;
}
.howToBook h2{
  font-size: 40px;
}
}
// filter
.filter{
  background: #F1F1F1;
  padding: 15px 0;
  .container{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ddd;
  }
  .dropdown{
    &:first-child{
      .dropdown-toggle{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  .dropdown-label{
    font-size: 12px;
    color: $gray-color;
  }
  .search-input{
    padding: 5px 10px;
  }
  .dropdown-toggle,.search-input{
    background: #fff;
    color: $main-color;
    border: 1px solid $gray-white-color;
    border-radius: 0;
    &:after{
    position: absolute;  
    margin-left:0;
    right: 10px;
    }
    &:focus{
      animation: fadeIn .6s  linear;
    }
    i{
      color: $main-color;
      padding-right: 5px;
    }
    input{
      border: none;
      &:focus{
        box-shadow: none;
        border: none;
        outline: 0;
      }
      &::placeholder{
        color: $main-color;
      }
    }
   
  }
}
.show > .btn-outline-secondary.dropdown-toggle:focus,.btn-outline-secondary:focus{
  box-shadow: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  background: #fff;
  color: #333;
}
}
.search-btn{
  .btn{
    height: 62px;
    border-color: $dark-color;
    border-radius: 0;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $dark-color;
    color: #fff;
    i{
      padding-right: 5px;
      font-weight: bold;
    }
  }
}
// end filter
//doctor page
.doctorList{
  background: #E2E6EA;
  .doctor{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    color: $dark-color;
    &:hover{
      text-decoration: none;
      background: #E5F0FA;
    }
    .doctor-details{
      .h2{
        font-weight: 600;
        color: $main-color;
        font-size: 20px;
        text-transform: capitalize;
      }
      span{
        color: $main-color;
        font-size: 16px;
        text-transform: capitalize;
      }
      .desc{
        color: $gray-color;
        font-weight: 500;
      }     
    }
}
}
.ui-rating-icon{
  color: #FFB624;
  font-size: 22px;
}
//end doctor page
// start doctor profile view
.profile{
  .bg-profile{
    background-color: #E5F0FA;
    padding: 20px;
    .profile-img{
      img{
        border: 3px solid $gray-color;
      }
    }
  }
  .profile-data{
    padding: 25px 0;
    .h3{
      padding: 15px;
      box-shadow: 2px 2px 2px #ddd;
      background: #E5F0FA;
      color: $dark-color;
    }
    p{
      padding: 15px;
    }
    .service{
      .active{
        background: $dark-color;
        color: #fff;
        border: $dark-color;
      }
    }
  }
  .btn-map{
    padding: 5px;
    color: $dark-color;
    border-color: $dark-color;
    border-radius: 10px;
    &:hover{
      transition: .4s;
      background: $dark-color;
      color: #fff;
    }
  }
}
// end doctor profile view