@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Titillium Web;
}
$gray-color: #696969;
$gray-white-color:#ddd;
$main-color: #00c0f2;
$dark-color: #001430;
$l-size: 24px;
$n-size: 16px;
$s-size: 14px;
.navbar {
  box-shadow: 1px 1px 1px 1px #ddd;
  .navbar-brand {
    img {
      width: 81px;
    }
  }
  .navbar-nav {
    li {
      a {
        font-weight: bold;
        color: #001430;
      }
    }
  }
}
//icons of doctor
.doc-icon{
  margin-right: 10px;
  color: $main-color;
  border-bottom: 3px solid #DEB183;
  padding-bottom: 3px;
}
.slideInAnimate{
  -webkit-animation: slideInDown 1.3s infinite linear;
  animation: slideInDown 1.3s infinite linear;
}
// input design
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077ff;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
    &:hover {
      background: rgba(#223254, 0.03);
    }
    &:not(:placeholder-shown) {
      + span {
        color: #5a667f;
        transform: translateY(-26px) scale(0.75);
      }
    }
    &:focus {
      background: none;
      outline: none;
      + span {
        color: #0077ff;
        transform: translateY(-26px) scale(0.75);
      }
      + .border {
        transform: scaleX(1);
      }
    }
  }
}
.custom-dropdown{
  border: 1px solid $main-color;
  padding: 10px 5px;
  border-radius: 28px;
  i{
    padding: 0 5px;
  }
}
.dropdown.show{
  transition: .4s;
}
// home-bg
.owl-carousel .owl-item img{
  height: 90vh;
}
.home-bg{
  height: 100vh;
  background-image: url(assets/imgs/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .arrow i{
    position: absolute;
    bottom: 0;
    font-size: 25px;
    left: 50%;
  }
}

.banner-form-outer {
  border: 1px solid $gray-color;
  .banner-form {
    ul {
      li {
        margin-bottom: 15px;
        input,
        select {
          // width: 90%;
          padding: 10px;
        }
      }
    }
  }
}
// book-now
.book-now {
  padding: 80px;
  background: #dcedf1;
  h2 {
    font-weight: 900;
    color: $dark-color;
    font-size: $l-size * 2;
    text-transform: uppercase;
  }
  .why-choose {
    h3 {
      color: $gray-color;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #c6d5d8;
    }
  }
}
// end book-now
// start home-filter
.home-filter{
  padding: 30px;
  position: relative;
  top: 40%;
}
// end home-filter
//howToBook
.howToBook {
  h2 {
    font-weight: 900;
    color: $dark-color;
    font-size: $l-size * 2;
    text-transform: uppercase;
  }
}
// end howToBook
// Browser Doctor
.browser-doctor{
  background: #fafafa;
  padding: 30px 0;
  h2,i{
    font-weight: 900;
    color: #001430;
    font-size: 48px;
    text-transform: uppercase; }
    .specs{
      margin-top: 15px;
      .list-group-item{
        color: $dark-color !important;
      }
    }
  
}
//end of Download App

// footer
.footer {
  background: #001430;
  padding: 30px 15px;
  h5{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
a,p{
color: #ffffff;
text-decoration: none !important;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}
  p {
    color: #fff;
    a {
      color: $main-color;
    }
  }
}
.social-bar{
   ul.social{
      li{
          padding: 3px 0;
          a i {
              color: #333;
              margin-right: 5px;
              font-size:25px;
              -webkit-transition: .5s all ease;
              -moz-transition: .5s all ease;
              transition: .5s all ease;
          }
          &:hover a i {
              font-size:30px;
              margin-top:-10px;
          }
      }
}
}
.social-bar ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

// end footer
@media only screen and (max-width: 600px) {
  .carousel-item {
    background-position: right;
h2{
  font-size: 20px;
}
.carousel-caption{
  top: 5%;
  left: 65px;
}
.form-header{
  border: none;
  background: transparent;
  .form-control{
    background: #fff;
  }
  .ui-calendar{
    margin-top: 5px;
    background: #fff;
    border-right:none !important;
  }
  .ui-button-icon-only .ui-button-icon-left{
    left: 50px;
  }
  .btn-search{
    border-radius: 24px;
    width: 100%;
    margin-top: 5px;
    &:before{
      content: "Search ";
    }
  }
  .mob-form,.ui-dropdown {
    width: 235px;
    margin-top: 5px;
    background: #fff;
  }
}
}
.custom-toggler{
  position: absolute;
  right: 15px;
  background: transparent !important;
  color: #001430 !important;
  border-color: #001430 !important;
}
.howToBook h2,.browser-doctor h2,.browser-doctor i{
  font-size: 35px;
}
}
// filter
.filter{
  .container{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ddd;
  }
  .dropdown{
    &:first-child{
      .dropdown-toggle{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  .dropdown-label{
    font-size: 12px;
    color: $gray-color;
  }
  .search-input{
    padding: 5px 10px;
  }
  .dropdown-toggle,.search-input{
    background: #fff;
    color: $main-color;
    border: 1px solid $gray-white-color;
    border-radius: 0;
    &:after{
    position: absolute;  
    margin-left:0;
    right: 10px;
    }
    &:focus{
      animation: fadeIn .6s  linear;
    }
    i{
      color: $main-color;
      padding-right: 5px;
    }
    input{
      border: none;
      &:focus{
        box-shadow: none;
        border: none;
        outline: 0;
      }
      &::placeholder{
        color: $main-color;
      }
    }
   
  }
}
.show > .btn-outline-secondary.dropdown-toggle:focus,.btn-outline-secondary:focus{
  box-shadow: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  background: #fff;
  color: #333;
}
}
.search-btn{
  .btn{
    height: 62px;
    border-color: $dark-color;
    border-radius: 0;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $dark-color;
    color: #fff;
    i{
      padding-right: 5px;
      font-weight: bold;
    }
  }
}
// end filter
//doctor page
.doctorList{
  background: #E2E6EA;
  a:hover{
    text-decoration: none;
  }
  .doctor-img {
    .img-fluid{
      background-position: center;
      background-repeat: no-repeat;
      height: 150px;
      position: relative;
      top: 10px;
      width: 150px;
      background-size: cover;
    }
  }
  .doctor{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    color: $dark-color;
    &:hover{
      text-decoration: none;
      background: #E5F0FA;
    }
    .doctor-appointment{
      .h2{
        font-weight: 600;
        color: $main-color;
        font-size: 20px;
        text-transform: capitalize;
      }
      span{
        color: $main-color;
        font-size: 16px;
        text-transform: capitalize;
      }
      .desc{
        color: $gray-color;
        font-weight: 500;
      }     
    }
}
}
.ui-rating-icon{
  color: #FFB624;
  font-size: 22px;
}
//end doctor page
// start doctor profile view
.profile{
  .about{
    padding: 15px 30px;
    p{
      font-size: 18px;
    }
  }
    .profile-details{
      // background-color: #E5F0FA;
      padding: 15px;
      margin:20px 0;
      .img-fluid{
        height: 150px;
        width: 150px;
        background-position: center;
        background-size: cover;
      }
    }
    .profile-data{
      margin: 20px 0;
      background-color: #fafafa;
      border: 1px solid #ddd;
      padding: 0;
      .appointment-header{
      h2{
        background-color: $dark-color;
        color: #fff;
        padding: 15px;
      }
    }
    
      .h3{
        padding: 15px;
        box-shadow: 2px 2px 2px #ddd;
        background: #E5F0FA;
        color: $dark-color;
      }
      p{
        padding: 15px;
      }
      .service{
        .active{
          background: $dark-color;
          color: #fff;
          border: $dark-color;
        }
      }
    }
  .btn-map{
    padding: 5px;
    color: $dark-color;
    border-color: $dark-color;
    border-radius: 10px;
    &:hover{
      transition: .4s;
      background: $dark-color;
      color: #fff;
    }
  }
}
// end doctor profile view
//login

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
padding: 10px;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
 padding: 10px;
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
//end login