<header>
    <div id="homeCarousel" class=" ">
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../assets/imgs/banner3.jpg')">
                <div class="carousel-caption text-left">
                    <p>All doctors are waiting for you...</p>
                    <h2 class="animated  lightSpeedIn delay-1s display-4 font-weight-bold">Search Your Doctor,<br>
                            Make an appointment</h2>
                    <!-- FORM -->
                    <div class="form-inline form-header mt-5">
                         <input type="text" pInputText placeholder="Doctor Name" class='mob-form'/>
                          <!-- <input type="date" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username"> -->
                          <p-calendar class='mob-form' [style]="{'border-right': '1px solid #ddd'}" [(ngModel)]="date3" placeholder="Select Date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                          <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [filter]='true'></p-dropdown>
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                <!-- END OF FORM-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- how to book -->
<section class="howToBook pt-5 pb-5 text-center">
    <div class="container margin-top-20">
        <h2>How it work</h2>
        <div class="row mb-30">
            <div class="col-lg-4">
                <img src="../assets/imgs/doctor.png" style="height: 100px;" alt="">
                <h3 class="font-weight-bold">Search</h3>
                <p>By Specialty, area,doctor name or Fees</p>
            </div>
            <div class="col-lg-4">
                    <img src="../assets/imgs/doctors.png" style="height: 100px;" alt="">
                    <h3 class="font-weight-bold">Compare & Choose</h3>
                    <p>Based on real patients reviews</p>
                </div>
                <div class="col-lg-4">
                        <img src="../assets/imgs/appointment-book.png" style="height: 100px;" alt="">
                        <h3 class="font-weight-bold">Book your appointment</h3>
                        <p>Pay at the clinic at no extra cost</p>
                    </div>
        </div>
    </div>
</section>
<!-- how to book -->
<!-- subscribe  -->
<div class="downloadApp pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-7 mt-5">
                <h2 class="font-weight-bold h1">Download This App & <br>Make Appointment <br>from anywhere.</h2>
            </div>
            <div class="col-5 text-right">
                <img src="../../assets/imgs/mobile.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<section class="newsletter">
        <div class="container">
        <div class="row">
        <div class="col-sm-12">
            <div class="content">
                <h2 class="font-weight-bold">SUBSCRIBE TO OUR NEWSLETTER</h2>
            <div class="input-group">
                 <input type="email" class="form-control" placeholder="Enter your email">
                 <span class="input-group-btn">
                 <button class="btn" type="submit">Subscribe Now</button>
                 </span>
                  </div>
            </div>
        </div>
        </div>
        </div>
        </section>
