<div id="footer" class="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class='font-weight-bold'>Links</h5>
					<ul class="list-unstyled quick-links">
						<li><a >Home</a></li>
						<li><a >About</a></li>
						<li><a >FAQ</a></li>
						<li><a >Get Started</a></li>
						<li><a >Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class='font-weight-bold'>Areas</h5>
					<ul class="list-unstyled quick-links">
						<li><a >Home</a></li>
						<li><a >About</a></li>
						<li><a >FAQ</a></li>
						<li><a >Get Started</a></li>
						<li><a >Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class='font-weight-bold'>Contact</h5>
					<p>Kuwait</p>
				</div>
			</div>	
		</div>
    </div>
    <div class="social-bar">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-3">
                            <ul class="list-unstyled list-inline social text-center">
                                <li class="list-inline-item"><a ><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a ><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a ><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>
   
   