<!-- FOOTER -->
<div class="footer bg-dark">
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="footer-logo">
                        <img src="../assets/imgs/logo.png" alt="" class="img-responsive" style="width: 300px;">
                    </a>
                    <p>© Copyright 2019. All Rights Reserved by <a target="_blank" href="#"> Doctor Online</a></p>
                </div>
            </div>
         </div> 
        </div>
    <!-- END OF FOOTER -->