<div class="pt-3 pb-3" style="  background: #F1F1F1;">
  <filter (getUserData)='search($event)'></filter>

</div>
<div class="doctorList">
  <div class="container">
    <div>
      <div class="row">
        <a class="col-sm-4 d-flex" *ngFor='let item of doctors' (click)="navigateToDoctor(item)"
          [queryParams]="{Id:item.Id}" [routerLink]="base.getrouterlink('/doctors/'+ item.slug+'.html')">
          <div class="row col-sm-12 doctor-img doctor p-0 text-center">
            <div [ngStyle]="{'background-image': 'url(' + item.ProfileImage +')'}"
              class="d-block mx-auto rounded-circle img-fluid"></div>
            <div class="col-sm-12 row doctor-details pt-3">
              <span class="col-sm-12">
                <span></span><a href="" onclick='return false;'
                  class="h2">&nbsp;{{base.translate(item.NameEn,item.NameAr)}}</a>
              </span>
              <p class="col-sm-12 desc">{{base.translate(item.Description,item.DescriptionAr)}}</p>
              <p class="col-sm-12">
                <p-rating [(ngModel)]="item.Rate" [readonly]='true' [cancel]="false"></p-rating>
              </p>
              <!-- <p class="col-sm-12">Overall rating from {{item.RateCount}} visitors</p> -->
              <p class="col-sm-12 info text-left"><i class="fas fa-stethoscope doc-icon fa-md"></i>{{item.JobTitle}}
                {{item.Info}} </p>
              <p class="col-sm-12 text-left"><i
                  class="fas fa-map-marker-alt doc-icon fa-md"></i>{{base.translate(item.Address,item.AddressAr)}}
              </p>
              <p class="col-sm-12 text-left"><i class="fas fa-money-bill-wave-alt doc-icon fa-xs"></i>{{item.Fees}}
                {{base.translate(base.getDefaultOpsFromLink().CurrancySymbolEn,base.getDefaultOpsFromLink().CurrancySymbolAr)}}</p>
              <p class="col-sm-12 text-left"><i class="far fa-clock doc-icon fa-xs"></i>{{base.translate('WTime')}}
                :{{item.Waitingtime}}</p>
            </div>
          </div>

        </a>
      </div>
    </div>

  </div>
</div>
